{% extends "impl_solid.j2" %}

{% block summary %}
<p>
  Dit implementatiemodel is gebaseerd op <a href="https://data.vlaanderen.be/doc/applicatieprofiel/leercredential/">OSLO Leercredential</a>,
  dat op zijn beurt gebaseerd is op het <a href="https://github.com/european-commission-empl/European-Learning-Model">European Learning Model</a>.
  Die laatste gebruikt dan weer het <a href="https://www.w3.org/TR/vc-data-model/">W3C Verifiable Credentials Data Model</a> als overkoepelende structuur.
</p>
<p>
  Deze specificatie beschrijft de concepten die nodig zijn om leer- en ervaringsbewijzen te modelleren,
  zoals deze beschikbaar zijn in de <a href="https://leerenervaringsbewijzendatabank.be/">LED</a>. 
</p>
<p>
  Dit model beschrijft hoe een Persoon eigenaar kan zijn van één of meerdere Leercredentials, die uitgegeven zijn door een bepaalde Organisatie, zoals een overheidsinstantie, maar evenzeer private instanties.
  Deze persoon 
</p>
{% endblock %}
